# no apache files
*.htaccess

# nothing in the extra folder
extra/


#nothing in the inputFiles folder
emergent/inputFiles/*.dat

#nothing big
database/*.sql

#nothing in the output folder
emergent/output/*.csv

#nothing in the output folder
emergent/log/*

#not the v7 file
emergent/consumption_bp_nogui_20160321a.proj

#not the emergent extra folder
emergent/extra/

#any weights files
emergent/weights/*.wts

#anything in /ini except .example
ini/*.txt
ini/*.ini
ini/*.sh

#no data from inputFiles
emergent/Inputfiles/*
emergent/log/*
emergent/output/*
emergent/weights/*

#no api folder (yet)
api/


# ignore all files ending with ~
*~



