; This is a sample SolarNet configuration file
; Comments start with ';', as in php.ini

[nodes]
node[] = "<put your first node id here>"
node[] = "<put your second node id here>"

[tokens]
token[] = "<put your first node token here>"
token[] = "<put your second node token here>"

[secrets]
secret[] = "<put your first node secret here>"
secret[] = "<put your second node secret here>"


